@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PracticePanther's Export Tool</h1>
    <h4>Version 1.0</h4>
    <h5>Created by Seth Bruner & Brian Ball</h5>
    <p>The purpose of this tool is to export all contacts to a .csv file.</p>
</div>
