@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PracticePanther Export Tool</h1>
    <h4>Version 1.0</h4>
    <h5>Created by Seth Bruner</h5>
    <h5>This tool connects to PracticePanthers API and gets your contact data for viewing and exporting.</h5>
</div>
<div>
    <h5><b>Steps:</b></h5>
    <ol>
        <li>Click on Accounts along the Navbar</li>
        <li>Click PracticePanther Login</li>
        <li>Sign into your <a href="https://app.practicepanther.com/" target="_blank" rel="noopener noreferrer">PracticePanther</a> account</li>
        <li>click Grant Access to allow PPExportToolApp to view and export your data</li>
        <li>Once you're redirected to PPExportTool, click on Accounts to view your contacts</li>
        <li>Click <b>Export To CSV</b> to download your data to your computer</li>
    </ol>
</div>

@*<div class="text-center">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            1. Click on Accounts along the Navbar
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            2. Click PracticePanther Login
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            3. Sign into your<a href="app.practicepanther.com">PracticePanther</a>account
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            4. click Grant Access to allow PPExportToolApp to view and export your data
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            5. Once you're redirected to PPExportTool, click on Accounts to view your contacts
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            6. Click<b>Export To CSV</b>to download your data to your computer
        </li>
    </ul>
</div>*@
